header {
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 90px;
    color: white;
}

.top10_h1 {
    margin-top: 2em;
    width: 100%;
}

.home {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pikachu {
    padding-top: 4em;
}

h2 {
    margin-top: 0;
}

.h2_right {
    text-align: right;
}


/* NAVBAR */

.logo>a>img {
    height: 45px;
    margin-top: 3px;
}

.navbar-nav>li.logo>a {
    padding: 0;
}

.navbar-nav>li {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 45px;
}

.navbar-nav>logo.active>a {
    padding: 0;
    height: 40px;
}

.navbar-default>li {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-default>.active>a {
    padding: 0;
    height: 40px;
    margin-top: 0;
}

.h2_right {
    text-align: right;
}


/* FOOTER */

.footer-navbar {
    margin-bottom: 0;
    margin-top: 10%;
    border: 0;
}


/* NAVBAR */

.logo {
    height: 45px;
    margin-top: 3px;
}

.navbar-nav>li {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-nav>.active>a {
    padding: 15px;
    height: 40px;
}

.navbar {
    background-image: linear-gradient(#e74c3c, #e74c3c 60%, #e74c3c);
    background-repeat: no-repeat;
    /*border-bottom: 1px solid #178ACC;*/
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    padding: 2px;
}

.navbar-default {
    border-color: #e74c3c;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #FFF;
    background-color: #c0392b;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: white;
    background-image: linear-gradient(#e74c3c, #e74c3c 60%, #e74c3c);
}


/* SECTIONS HOME PAGE */

.section1-3 {
    padding-top: 50px;
}

.section1-3 img {
    float: left;
    margin-right: 10px;
}

.section2 {
    padding-top: 50px;
}

.section2 img {
    float: right;
    margin-left: 10px;
}

.section2 p {
    text-align: right;
}


/* SEARCH BAR */

.input-gp {
    margin-top: 6em;
    width: 100%;
}

.form {
    margin-top: 6em;
}

#searchTextResults {
    min-height: 24em;
}

/* CARDS */

.card {
    border-radius: 5%;
    padding: 0.5em 0.5em 0.75em 0.54em;
    margin-bottom: 1em;
    background-image: url(../img/bckgrd-card.jpg);
    background-position: 100% 50%;
    box-shadow: 1px 1px 5px 1px;
}

#modal-to-click {
    margin-left: 1.3em;
}

.card-title {
    text-align: left;
    text-transform: capitalize;
    font-weight: bold;
}

.pokemon-tag {
    float: right;
    margin: -2em 0.5%;
}

.btn-card {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
}

.btn-card-success {
    background: #2ecc71;
    background-image: -webkit-linear-gradient(top, #2ecc71, #27ae60);
    background-image: -moz-linear-gradient(top, #2ecc71, #27ae60);
    background-image: -ms-linear-gradient(top, #2ecc71, #27ae60);
    background-image: -o-linear-gradient(top, #2ecc71, #27ae60);
    background-image: linear-gradient(to bottom, #2ecc71, #27ae60);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
}

.btn-card-suppr {
    background: #e74c3c;
    background-image: -webkit-linear-gradient(top, #e74c3c, #c0392b);
    background-image: -moz-linear-gradient(top, #e74c3c, #c0392b);
    background-image: -ms-linear-gradient(top, #e74c3c, #c0392b);
    background-image: -o-linear-gradient(top, #e74c3c, #c0392b);
    background-image: linear-gradient(to bottom, #e74c3c, #c0392b);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff!important;
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
}

.btn-card:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}


/* MODAL */

.spinner {
    max-width: 100%;
    height: auto;
    margin-top: 35vh;
    /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%);
    /* tiré de la moitié de sa propre hauteur */
}

.bug {
    background-image: url(../img/bckgrd-types/bug.png);
}

.dark {
    background-image: url(../img/bckgrd-types/dark.png);
    color: white;
}

.dragon {
    background-image: url(../img/bckgrd-types/dragon.png);
    color: white;
}

.electric {
    background-image: url(../img/bckgrd-types/electr.png);
}

.fairy {
    background-image: url(../img/bckgrd-types/fairy.png);
}

.psychic {
    background-image: url(../img/bckgrd-types/psychic.png);
}

.fighting {
    background-image: url(../img/bckgrd-types/fighting.png);
}

.ground {
    background-image: url(../img/bckgrd-types/ground.png);
}

.fire {
    background-image: url(../img/bckgrd-types/fire.png);
}

.grass {
    background-image: url(../img/bckgrd-types/grass.png);
}

.ice {
    background-image: url(../img/bckgrd-types/ice.png);
}

.normal {
    background-image: url(../img/bckgrd-types/normal.png);
}

.flying {
    background-image: url(../img/bckgrd-types/flying.png);
}

.ghost {
    background-image: url(../img/bckgrd-types/ghost.png);
}

.poison {
    background-image: url(../img/bckgrd-types/poison.png);
}

.steel {
    background-image: url(../img/bckgrd-types/steel.png);
}

.water {
    background-image: url(../img/bckgrd-types/water.png);
}

.rock {
    background-image: url(../img/bckgrd-types/rock.png);
}

.modal-title {
    text-align: left;
    text-transform: capitalize;
    font-weight: bold;
}

.modal-tag {
    float: right;
    margin: -1.5em 1.75em;
    font-size: 110%;
}

.height-and-weight {
    float: right;
    margin-right: 9em;
    margin-top: -2.15em;
    line-height: 1.95em;
}

.modal-content {
    border: solid #FADE41 1em;
    width: 30em;
    height: 40em;
    margin-left: 6.40em;
    box-shadow: 1px 1px 5px 1px;
}

.modal-content-spinner {
    background-color: white;
    border: solid #FADE41 1em;
    width: 30em;
    height: 40em;
    margin-left: 6.40em;
    box-shadow: 1px 1px 5px 1px;
    border-radius: 0.5em;
}

.modal-header {
    font-weight: bold;
    font-size: 105%;
    padding-bottom: 0.5em;
    border-bottom: 0px solid #FADE41;
}

.media {
    border: groove #FADE41 0.3em;
    max-width: 92%;
    max-height: 9em;
    margin: 0em auto;
    background-color: white;
}

.media-body {
    padding: 0.25em 1.5em 0.25em 0.5em;
    text-align: justify;
    font-size: 82%;
    vertical-align: middle;
}

.modal-footer {
    position: absolute;
    bottom: 0px;
    border-top: 0px solid #FADE41;
}

.versions {
    margin-bottom: 0.25em;
}

.versions-details {
    font-size: 110%;
}

.media-stat {
    max-width: 92%;
    margin: 0.5em auto;
    border: groove #FADE41 0.3em;
    background-image: url(../img/bckgrd-stat.png);
    background-size: contain;
}

.titles-gauge {
    font-size: 90%;
    text-align: center;
    word-spacing: 0.75em;
    background-color: white;
    font-weight: bold;
    padding-left: 1em;
    padding-top: 0.25em;
}

.hp {
    margin-left: 2em;
    width: 1em;
    height: 6em;
}

.hp-gauge {
    width: 50%;
    background-color: lightblue;
    margin: auto;
    max-height: 100%;
    font-size: 80%;
}

.att {
    margin-left: 6em;
    margin-top: -6em;
    width: 1em;
    height: 6em;
    text-align: right;
}

.att-gauge {
    width: 50%;
    background-color: lightblue;
    margin: auto;
    max-height: 100%;
    font-size: 80%;
}

.def {
    margin-left: 10em;
    margin-top: -6em;
    width: 1em;
    height: 6em;
    text-align: right;
}

.def-gauge {
    width: 50%;
    background-color: lightblue;
    margin: auto;
    max-height: 100%;
    font-size: 80%;
}

.ats {
    margin-left: 14em;
    margin-top: -6em;
    width: 1em;
    height: 6em;
    text-align: right;
}

.ats-gauge {
    width: 50%;
    background-color: lightblue;
    margin: auto;
    max-height: 100%;
    font-size: 80%;
}

.dfs {
    margin-left: 18em;
    margin-top: -6em;
    width: 1em;
    height: 6em;
    text-align: right;
}

.dfs-gauge {
    width: 50%;
    background-color: lightblue;
    margin: auto;
    max-height: 100%;
    font-size: 80%;
}

.spd {
    margin-left: 22em;
    margin-top: -6em;
    width: 1em;
    height: 6em;
    text-align: right;
}

.spd-gauge {
    width: 50%;
    background-color: lightblue;
    margin: auto;
    max-height: 100%;
    font-size: 80%;
}

.media-evolution {
    border: groove #FADE41 0.3em;
    max-width: 92%;
    max-height: 8.5em;
    margin: 0.5em auto;
}

.evol-title {
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    margin-left: 15%;
}

.glyphicon-chevron-right {
    margin-left: 15%;
}

.evolution {
    background-color: white;
    border-radius: 50%;
    width: 80%;
    margin: 0.5em 0.60em 0.5em;
}


/*PROFIL*/

.cartridge-img {
    width: 100px;
    height: 100%;
    filter: grayscale(100%);
    box-shadow: 1px 1px 10px 1px;
    transition-duration: 0.2s;
}

.cartridge-click {
    width: 125px;
    height: 100%;
    filter: grayscale(0%);
    box-shadow: 1px 1px 10px 1px;
}

.cartridge-img:hover {
    width: 110px;
    height: 100%;
    filter: grayscale(0%);
    margin: 10px auto;
    box-shadow: 1px 1px 10px 1px
}

.cartridge {
    height: 150px;
    width: 20%;
}

.cartridgeTitle {
    font-weight: bold;
}

.btnprofile {
    border: none;
    text-decoration: none;
}

.profile {
    background-image: url("/img/bgprofile.jpg");
    background-repeat: no-repeat;
    background-position: right;
}

.containerProfile {
    background-color: #f4f4f4;
    height: 200%;
    margin: 20px;
    box-shadow: 1px 1px 10px 1px;
    transition-duration: 0.4s;
}

.encabezado {
    width: 100%;
}

.contenido {
    width: 85%;
    margin: 35px auto;
}

.contenido p {
    font-size: 20px;
}

.contenido h3 {
    color: #303F9F;
    font-size: 35px;
    margin-bottom: 0;
}

.contenido h4 {
    font-size: 18px;
    margin-top: 0;
    color: #FF5252;
}

.containerProfile:hover {
    background-color: #D9D9D9;
    box-shadow: 1px 1px 10px 1px
}

/*REGISTER*/

.register {
  height: 100%;
    margin-top: 1.5em;
    margin-bottom: 5em;
}

.card-register {
    width: 100%;
    border-radius: 50%;
    opacity: 0%;
}

.card-register-img {
    width: 200px;
    height: 100%;
    filter: grayscale(100%);
    box-shadow: 1px 1px 10px 1px;
    transition-duration: 0.2s;
}

.card-register-img-click {
    width: 200px;
    height: 100%;
    filter: grayscale(0%);
    box-shadow: 1px 1px 10px 1px;
}

.card-register-img:hover {
    width: 202px;
    height: 100%;
    filter: grayscale(0%);
    box-shadow: 1px 1px 10px 1px
}

.card-register-btn {
    background-color: white;
    width: 100%;
    height: 100%;
    border: none;
}
