    header {
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 90px;
    color: white;
}

h2 {
    margin-top: 0;
}

.h2_right {
    text-align: right;
}


/* FOOTER */

.footer-navbar {
    margin-bottom: 0;
    margin-top: 10%;
    border: 0;
}


/* NAVBAR */

.logo {
    height: 45px;
    margin-top: 3px;
}

.navbar-nav>li {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-nav>.active>a {
    padding: 0;
    height: 40px;
}

.navbar {
    background-image: linear-gradient(#e74c3c, #e74c3c 60%, #e74c3c);
    background-repeat: no-repeat;
    /*border-bottom: 1px solid #178ACC;*/
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    padding: 2px;
}

.navbar-default {
    border-color: #e74c3c;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #FFF;
    background-color: #c0392b;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: white;
    background-image: linear-gradient(#e74c3c, #e74c3c 60%, #e74c3c);
}


/* SECTIONS HOME PAGE */

.section1-3 {
    padding-top: 50px;
}

.section1-3 img {
    float: left;
    margin-right: 10px;
}

.section2 {
    padding-top: 50px;
}

.section2 img {
    float: right;
    margin-left: 10px;
}

.section2 p {
    text-align: right;
}


/* SEARCH BAR */

.input-gp {
    margin-top: 6em;
    width: 100%;
}

.form {
    margin-top: 6em;
}


/* CARDS */

.card {
    border-radius: 5%;
    padding: 0.5em 0.5em 0.75em 0.5em;
    margin-bottom: 1em;
    background-image: url(../img/bckgrd-card.jpg);
    background-position: 100% 50%;
    box-shadow: 1px 1px 5px 1px;
}

#modal-to-click {
    margin-left: 1.3em;
}

.card-title {
    text-align: left;
    text-transform: capitalize;
    font-weight: bold;
}

.pokemon-tag {
    float: right;
    margin: -2em 0.5%;
}

.btn-card {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
}

.btn-card:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}


/* MODAL */

.spinner {
    max-width: 100%;
    height: auto;
    margin-top: 35vh;
    /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%);
    /* tiré de la moitié de sa propre hauteur */
}
.modal-content {
    background-image: url(../img/bckgrd-types/{{ type.type.name }}.png);
}
.modal-tag {
    float: right;
    margin: -0.50em;
}

.height-and-weight {
    float: right;
    margin-right: 10em;
    margin-top: -2em;
    line-height: 1.85em;
}

.modal-content {
    border: solid #FADE41 1em;
    width: 30em;
    height: 40em;
    margin-left: 6.40em;
}

.modal-header {
    border: groove 0.25em;
}

.media {
    border: groove 0.25em;
    max-width: 94%;
    margin: 0.5em auto;
}

.media-body {
    padding: 1em 1.5em 0.5em 0.5em;
    text-align: justify;
    font-size: 90%;
    vertical-align: middle;
}

.modal-footer {
    position: absolute;
    bottom: 0px;
}

.media-stat {
    max-width: 94%;
    margin: 0.5em auto;
    padding-bottom: 1em;
    border: groove 0.25em;
    background-image: url(../img/bckgrd-stat.png);
    background-size: contain;
}

.titles-gauge {
    font-size: 90%;
    text-align: center;
    word-spacing: 1em;
    background-color: white;
    margin-bottom: -1em;
}

.hp {
    margin-left: 2em;
    width: 1em;
    height: 6em;
}

.hp-gauge {
    width: 50%;
    background-color: lightblue;
    margin: auto;
    top: fixed;
}

.att {
    margin-left: 6em;
    margin-top: -6em;
    width: 1em;
    height: 6em;
    text-align: right;
}

.att-gauge {
    width: 50%;
    background-color: lightblue;
    margin: auto;
    top: fixed;
}

.def {
    margin-left: 10em;
    margin-top: -6em;
    width: 1em;
    height: 6em;
    text-align: right;
}

.def-gauge {
    width: 50%;
    background-color: lightblue;
    margin: auto;
    top: fixed;
}

.ats {
    margin-left: 14em;
    margin-top: -6em;
    width: 1em;
    height: 6em;
    text-align: right;
}

.ats-gauge {
    width: 50%;
    background-color: lightblue;
    margin: auto;
    top: fixed;
}

.dfs {
    margin-left: 18em;
    margin-top: -6em;
    width: 1em;
    height: 6em;
    text-align: right;
}

.dfs-gauge {
    width: 50%;
    background-color: lightblue;
    margin: auto;
    top: fixed;
}

.spd {
    margin-left: 22em;
    margin-top: -6em;
    width: 1em;
    height: 6em;
    text-align: right;
}

.spd-gauge {
    width: 50%;
    background-color: lightblue;
    margin: auto;
    top: fixed;
}

.media-evolution {
    border: groove 0.25em;
    height: 4em;


    /*PROFIL*/
    .cartridge-img {
        width: 100px;
        height: 100%;
        filter: grayscale(100%);
        box-shadow: 1px 1px 10px 1px;
        transition-duration: 0.4s;
    }
    .cartridge-click {
        width: 125px;
        height: 100%;
        filter: grayscale(0%);
        box-shadow: 1px 1px 10px 1px;
    }
    .cartridge-img:hover {
        width: 110px;
        height: 100%;
        filter: grayscale(0%);
        margin: 10px auto;
        box-shadow: 1px 1px 10px 1px
    }
    .cartridge {
        height: 150px;
        width: 20%;
    }
    .cartridgeTitle {
        font-weight: bold;
    }
    .btnprofile {
        border: none;
    }
    .profile {
        background-image: url("/img/bgprofile.jpg");
        background-repeat: no-repeat;
        background-position: right;
    }
    .containerProfile {
        background-color: #f4f4f4;
        height: 200%;
        margin: 20px;
        box-shadow: 1px 1px 10px 1px;
        transition-duration: 0.4s;
    }
    .encabezado {
        width: 100%;
        height: 100%;
    }
    .contenido {
        width: 85%;
        margin: 35px auto;
    }
    .contenido h3 {
        color: #303F9F;
        font-size: 30px;
        margin-bottom: 0;
    }
    .contenido h4 {
        Font-size: 14px;
        margin-top: 0;
        color: #FF5252;
    }
    .containerProfile:hover {
        background-color: #D9D9D9;
        margin: 10px auto;
        box-shadow: 1px 1px 10px 1px
    }
