.section1-3 {
  padding-top: 100px;
}

.section1-3 img {
  float: left;
  margin-right: 10px;
}

.section2 {
  padding-top: 100px;
}

.section2 img {
  float: right;
  margin-left: 10px;
}

.section2 p {
  text-align: right;
}

.card {
    border: solid grey 1px;
    border-radius: 5%;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.card-img {
    text-align: center;
    margin-left: 15%;
}

.pokemon-tag {
    float: right;
    margin: -2em 0.5%;
}
