html {
  min-height: calc(100vh - 100);
}

header {
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 90px;
    color: white;
}

h2 {
  margin-top: 0;
}

.h2_right {
  text-align: right;
}

/* FOOTER */

.footer-navbar {
  margin-bottom: 0;
  margin-top: 10%;
  border: 0;
}

/* NAVBAR */

.logo > a > img {
  height: 45px;
  margin-top: 3px;
}

.navbar-nav > li.logo > a {
  padding: 0;
}

.navbar-nav > li {
  padding-top:0px;
  padding-bottom:0px;
  height: 45px;

}

.navbar-nav > logo.active > a {
  padding: 0;
  height: 40px;
}

.navbar-default > li {
  padding-top:0px;
  padding-bottom:0px;
}

.navbar-default > .active > a {
  padding: 0;
  height: 40px;
}

.navbar {
    background-image: linear-gradient(#e74c3c, #e74c3c 60%, #e74c3c);
    background-repeat: no-repeat;
    /*border-bottom: 1px solid #178ACC;*/
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    padding: 2px;
}

.navbar-default {
    border-color: #e74c3c;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #FFF;
    background-color: #c0392b;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: white;
    background-image: linear-gradient(#e74c3c, #e74c3c 60%, #e74c3c);
}

/* SECTIONS HOME PAGE */

.section1-3 {
    padding-top: 50px;
}

.section1-3 img {
    float: left;
    margin-right: 10px;
}

.section2 {
    padding-top: 50px;
}

.section2 img {
    float: right;
    margin-left: 10px;
}

.section2 p {
    text-align: right;
}


/* SEARCH BAR */

.input-gp {
    margin-top: 6em;
    width: 100%;
}

.form {
    margin-top: 6em;
}

/* CARDS */

.card {
    border: groove 3px;
    border-radius: 5%;
    padding: 0.5em 0.5em 0.75em 0.5em;
    margin-bottom: 1em;
}

#modal-to-click {
    margin-left: 1.3em;
}

.card-title {
    text-align: left;
    text-transform: capitalize;
    font-weight: bold;
}

.pokemon-tag {
    float: right;
    margin: -2em 0.5%;
}

.btn-card {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
}

.btn-card-success {
    background: #2ecc71;
    background-image: -webkit-linear-gradient(top, #2ecc71, #27ae60);
    background-image: -moz-linear-gradient(top, #2ecc71, #27ae60);
    background-image: -ms-linear-gradient(top, #2ecc71, #27ae60);
    background-image: -o-linear-gradient(top, #2ecc71, #27ae60);
    background-image: linear-gradient(to bottom, #2ecc71, #27ae60);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
}

.btn-card-success:hover {
    background: #e74c3c;
    background-image: -webkit-linear-gradient(top, #e74c3c, #c0392b);
    background-image: -moz-linear-gradient(top, #e74c3c, #c0392b);
    background-image: -ms-linear-gradient(top, #e74c3c, #c0392b);
    background-image: -o-linear-gradient(top, #e74c3c, #c0392b);
    background-image: linear-gradient(to bottom, #e74c3c, #c0392b);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
}



.btn-card:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}


/* MODAL */

.spinner {
    max-width: 100%;
    height: auto;
    margin-top: 35vh;
    /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%);
    /* tiré de la moitié de sa propre hauteur */
}

.modal-tag {
    float: right;
    margin: -0.50em;
}

.modal-content {
    border: solid #FADE41 1em;
    width: 30em;
    height: 40em;
    margin-left: 6.40em;
}

.modal-header {
    border: groove 0.25em;
}

.media {
    border: groove 0.25em;
}

.media-body {
    padding: 1em 1.5em 0.5em 0.5em;
    text-align: justify;
    font-size: 90%;
    vertical-align: middle;
}

.modal-footer {
    position: absolute;
    bottom: 0px;
}
