.starank {
    color: grey;
    margin-left: 0.1%;
    margin-top: 20px;
}

.trainers {
    margin-top: 10px;
    font-size: 25px;
}

.GR {
    margin: 10px;
}

.BOX {
    position: relative;
    background-image: url('/img/bckgrd-card.jpg');
    background-size: cover;
    border: 1px solid lightgrey;
    border-width: 1px 1px 0px 1px;
    height: 70px;
    overflow: hidden;
}

.BOXi, .BOXa, .BOXm, .BOXh {
    position: absolute;
}

.BOX, .BOXm, .BOXm a {
    box-shadow: inset 0 1px 2px 0px rgba(124, 124, 124, 1);
}

.BOXi, .BOXh, .BOXa, .BOXm, .BOXm a {
    display: block;
    box-sizing: border-box;
    transition: all 0.2s linear;
}

.BOXi {
    margin-left: 65px;
    width: 75px;
    height: 70px;
    left: 2px;
    top: 2px;
    bottom: 2px;
}

.BOXa {
    margin-left: 95px;
}

.BOXh, .BOXa {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 12px;
    color: grey;
    text-decoration: none;
    line-height: 45px;
}

.BOXh {
    background: #252525;
    text-shadow: lightgrey 0 0 10px;
}

.BOXa:hover {
    text-shadow: rgba(0, 150, 255, 1) 0 0 10px;
    text-decoration: none;
}

.BOXi+.BOXa {
    left: 47px;
    border-left: 1px solid lightgrey;
}

.BOXm {
    top: -40px;
    right: 0px;
    bottom: 50px;
    left: 90%;
    border-left: 1px solid lightgrey;
    padding: 0px;
    background-image: url('/img/bckgrd-card.jpg');
    background-size: cover;
    color: #ffffff;
}

.BOXm button {
    height: 60px;
    width: 60px;
    text-align: center;
    padding-top: 6px;
    margin: 6px;
    border-radius: 50%;
    float: right;
    color: #ffffff;
    background-image: url("/img/pokeball.png");
    background-size: contain;
}

.BOXm button:hover {
    box-shadow: 0 0px 5px 1px rgba(0, 150, 255, 1);
    text-shadow: rgba(0, 150, 255, 1) 0 0 10px;
    color: lightgrey;
}

.BOX:hover>.BOXm {
    top: 0px;
    bottom: 0px;
}

.GR .BOX:first-child .BOXm {
    border-radius: 0px 3px 0px 0px;
}

.GR .BOX:last-child .BOXm {
    border-radius: 0px 0px 3px 0px;
}

.GR .BOX:first-child, .GR .BOX:first-child .BOXh {
    border-radius: 3px 3px 0px 0px;
}

.GR .BOX:last-child, .GR .BOX:last-child .BOXh {
    border-radius: 0px 0px 3px 3px;
    border-bottom-width: 1px;
}

.modal-trainers-cartridge {
    margin: 4px;
}

.modal-trainers-cartridge img {
    width: 100px;
    height: 100%;
}

.modal-content-trainers {
    display: block;
    border: solid lightgrey 1em;
    width: 40em;
    height: 100%;
    margin-left: -30%;
    box-shadow: 1px 1px 5px 1px;
    background-image: url('/img/bckgrd-card.jpg');
    background-repeat: repeat-y;
    background-size: cover;
}

.row-trainers {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}
.title-rank {
  float: left;
  font-size: 700%;
  color: lightgrey;
  margin-left: 25%;
  margin-top: 40px;
}
.title-trainers {
    margin-left: 15px;
    width: 100%;
    float: left;
}
.modalimage {
  width: 25%;
  float: right;
  margin-right: 40px;
  box-shadow: 2px 2px 2px 2px;
}
