<div class="container">
  <header>
    <img src="http://placehold.it/1140x300" class="img-responsive" alt="">
</header>
    <div class="row">
        <div class="col-lg-12">
          <section class="section1-3">
          <img class="img_left" src="http://placehold.it/150x100" alt=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quidem corporis neque commodi amet, doloribus
            architecto iste ipsa porro ex et pariatur ipsum rerum nobis, dolores, dolor odit inventore mollitia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod eveniet
            alias voluptates ex velit illo maiores labore tempore, distinctio culpa est adipisci perspiciatis minus inventore, debitis temporibus delectus fugit!</p>
        </section></div>
    </div>

    <div class="row">
        <div class="col-lg-12">
          <section class="section2">
          <img class="img_left" src="http://placehold.it/150x100" alt=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quidem corporis neque commodi amet, doloribus
            architecto iste ipsa porro ex et pariatur ipsum rerum nobis, dolores, dolor odit inventore mollitia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod eveniet
            alias voluptates ex velit illo maiores labore tempore, distinctio culpa est adipisci perspiciatis minus inventore, debitis temporibus delectus fugit!</p>
        </section></div>
    </div>

    <div class="row">
        <div class="col-lg-12">
          <section class="section1-3">
          <img class="img_left" src="http://placehold.it/150x100" alt=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quidem corporis neque commodi amet, doloribus
            architecto iste ipsa porro ex et pariatur ipsum rerum nobis, dolores, dolor odit inventore mollitia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quod eveniet
            alias voluptates ex velit illo maiores labore tempore, distinctio culpa est adipisci perspiciatis minus inventore, debitis temporibus delectus fugit!</p>
        </section></div>
    </div>
