<div class="container">
    <header>
        <img id="header_images" class="img-responsive" alt="">
    </header>

    <script type="text/javascript">
        var description = [
            "../img/home_title.png",
            "../img/home_title-2.png",
            "../img/home_title-3.png"
        ];

        var size = description.length;
        var x = Math.floor(size * Math.random());
        document.getElementById('header_images').src = description[x];
    </script>

    <h1 class="home">How does it work?</h1>

    <div class="row card_home">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a ui-sref="anon.register"><img src="../img/ash_ketchum.jpg" alt="..."></a>
                <div class="caption">
                    <h3>Create your account</h3>
                    <p>Ever wanted an easy app where you can add, organize, sort (and more) all the Pokémon you got? My Tiny Pokédex is here! So don't waste more time and create your free account now!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="../img/games.png" alt="...">
                <div class="caption">
                    <h3>Add all your Pokémon games!</h3>
                    <p>From Pokémon Yellow to Black or Moon, all games are available! All you have to do is going to your profile, browse all the Pokémon games and add those you own to your account.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="../img/gotcha.png" alt="...">
                <div class="caption">
                    <h3>Catch them all!</h3>
                    <p>It's time to catch them all now! Go to your Pokédex, add the Pokémon you caught in your games, check their profile, update their level... everything is possible!</p>
                </div>
            </div>
        </div>
    </div>
</div>
