<div class="container">
    <h1 class="top10_h1">About us</h1>
    <div class="row card_home">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail thumbnail_home thumbnail_team">
                <a ui-sref="#"><img src="../img/users/sabrina.jpg" alt="..."></a>
                <h3 class="h3_home">Sabrina</h3>
                    <h3 class="caption_sabrina">Kawaï !</h3>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail thumbnail_home thumbnail_team">
                <img src="../img/users/jehan.png" alt="...">
                    <h3 class="h3_home">Jehan</h3>
                    <h3 class="caption_jehan">Wanna see my Pokéballs?</h3>
                </div>
            </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail thumbnail_home thumbnail_team">
                <img src="../img/users/philippe.jpg" alt="...">
                    <h3 class="h3_home">Philippe</h3>
                    <h3 class="caption_philippe">Cara Cara Carapuce!</h3>
            </div>
        </div>
    </div>
</div>
