<div class="container-fluid">
    <h1 class="top10_h1">Top 10</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" ng-repeat="oneUser in allUsers | orderBy:'-pokemonCaught.length'| limitTo:10">
            <div class="containerProfile">
                <div class="encabezado">
                    <img src="https://pbs.twimg.com/profile_images/1206423764/Ashbot.PNG" width="100%" />
                </div>
                <div class="contenido">
                    <h3>{{oneUser.firstname}}</h3>
                    <h4>Pokémon Trainer</h4>
                    <div class="form-group">
                        <label>Pokemons caught</label>
                        <p>{{ oneUser.pokemonCaught.length }}
                            <p>
                    </div>
                    <div class="form-group">
                        <label>Rank</label>
                        <p>{{ oneUser.rank }}
                            <p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
