<!--facebook script start-->
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!--facebook script end-->

<div class="row profile">

    <div class="col-xs-3">
        <div class="containerProfile">
            <div class="encabezado">
                <img ng-src="img/users/{{user.image}}.png" width="100%" />
            </div>
            <div class="contenido">
                <h3>{{user.firstname}}</h3>
                <h4>Pokemon Trainer</h4>
                <div class="form-group">
                    <label>Email</label>
                    <p>{{ user.email}}
                        <p>
                </div>
                <div class="form-group">
                    <label>Pokémon caught</label>
                    <p>{{ user.pokemonCaught.length }}
                        <p>
                </div>
                <div class="form-group">
                    <label>Rank</label>
                    <p>{{ user.rank }}
                        <p>
                </div>
                <div class="form-group">
                    <label>Cartridge owned</label>
                    <p>{{ user.cartridge.length}}</p>
                    <br>
                    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Partager</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper col-xs-9">
        <div class="row">
            <div class=" col-sm-2" ng-repeat="cartridge in cartridges">
                <div class="cartridge">
                    <h5 class="cartridgeTitle">{{cartridge.name}}</h5>
                    <button class="btnprofile" type="submit" ng-click="changeClass(cartridge.name);update()" value="Save">
                                  <img class="cartridge-img" ng-class="{'cartridge-click': user.cartridge.includes(cartridge.name)}" ng-src="img/games/pokemon-{{cartridge.name}}.jpg" alt="Cartridge"></img>
                              </button>
                </div>
            </div>
        </div>
    </div>
</div>
