<div class="row profile">

    <div class="col-xs-3">
        <div class="containerProfile">
            <div class="encabezado">
                <img src="https://pbs.twimg.com/profile_images/1206423764/Ashbot.PNG" width="100%" />
            </div>
            <div class="contenido">
                <h3>{{user.firstname}}</h3>
                <h4>Pokemon Trainer</h4>
                <div class="form-group">
                    <label>Email</label>
                    <p>{{ user.email}}
                        <p>
                </div>
                <div class="form-group">
                    <label>Pokemons catched</label>
                    <p>{{ user.pokemonsCatched }}
                        <p>
                </div>
                <div class="form-group">
                    <label>Rank</label>
                    <p>{{ user.rank }}
                        <p>
                </div>
                <div class="form-group">
                    <label>Cartridge owned</label>
                    <br>
                    <button class="btn-primary" ng-click="showme=true">Update</button>
                    <button class="btn-warning" ng-click="showme=false; update(user)">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper col-xs-9">
        <div class="row" ng-show="showme">
            <div class=" col-sm-2" ng-repeat="cartridge in cartridges">
                <div class="cartridge">
                    <h5 class="cartridgeTitle">{{cartridge.name}}</h5>
                    <button class="btnprofile" type="submit" ng-click="changeClass(cartridge.name)" value="Save">
                                  <img class="cartridge-img" ng-class="{'cartridge-click': selected.includes(cartridge.name)}" src="img/games/pokemon-{{cartridge.name}}.jpg" alt="Cartridge"></img>
                              </button>
                </div>
            </div>
        </div>
    </div>
</div>
