<div class="container">
    <h2>Welcome to Global Pokédex !</h2>

    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
          <button class="btn btn-secondary" type="button">Go!</button>
        </span>
            </div>
        </div>
    </div><br>

    <div class="row">
        <div class="col-xs-2">
            <div class="card">
                <img class="card-img" src="img/3.png" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Pokemon name</h4><span class="pokemon-tag">#3</span>
                    <a href="#" class=".pmd-ripple-effect btn btn-primary">Add to my Pokédex</a>
                </div>
            </div>
        </div>
    </div>
</div>
